* text=auto
*.txt text
*.dart text
*.md text
*.java text
*.kt text
*.swift text
*.c text
*.cc text
*.h text
*.cpp text
*.js text
*.html text
*.css text
*.json text
*.plist text
*.xib text
*.jpg binary
*.png binary
*.wav binary
*.mp3 binary